# CODEOWNERS

* @pagopa/rtp-team-admin @pagopa/rtp-team @fmuscianisi @davideragusi29 @michele-fucito

# groups
.github/ @pagopa/payments-cloud-admin @pagopa/rtp-team-admin

helm/prod @pagopa/payments-cloud-admin @pagopa/rtp-team-admin
